<%= simple_form_for :session, url: session_path do |form| %>
    <div class="row login-box">
      <div class="col-xs-1"> </div>
      <div class="col-xs-1 label-font">Email </div>
      <div class="col-xs-6 login-field"><%= form.input :email, label: false, input_html: { class: 'form-control' } %></div>
      <div class="col-xs-2"> </div>
    </div>
    <div class="row login-box">
      <div class="col-xs-1"> </div>
      <div class="col-xs-1 label-font">Password </div>
      <div class="col-xs-6 login-field"><%= form.input :password, label: false, input_html: { class: 'form-control' } %></div>
      <div class="col-xs-2"> </div>
    </div>
    <div class="row login-box">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <%= form.submit 'Sign In', class: 'col-xs-3 btn btn-primary space-btn-input submit_btn' %>
        <div id="forgot-password"><%= link_to t(".forgot_password"), new_password_path %></div>
      </div>
    </div>
<% end %>
