<% if flash[:notice] %>
    <div class="alert alert-success"> <strong>Congratulation! <%= flash[:notice] %></strong></div>
<% end %>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-11">
    <div class="row">
      <div class="col-xs-11">
        <div class="row">
          <div class="col-xs-9"><h1>Your Posts</h1></div>
          <div class="col-xs-3" id="post-btn"><%= link_to 'New Post', new_content_path, id: 'new-post-btn', class: 'btn btn-primary' %></div>
        </div>
      </div>
    </div>
    <% @contents.all.reverse.each do |content| %>
        <div class="row" id="single-content">
          <div class="col-xs-11">
            <div class="col-xs-9">
              <div class="row">
                <div class="col-xs-12 overflow-one-line" id="title-show"><%= link_to content.title, content %></div>
              </div>
              <div class="row">
                <div class="col-xs-12 overflow-three-line" id="body-show"><%= content.body %></div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="row">
                <div class="col-xs-12" id="published-on">published_on: <%= content.created_at.to_date %></div>
              </div>
              <div class="row">
                <div class="col-xs-12" id="delete-post"><%= link_to 'Delete this Post', content, method: :delete, data: { confirm: 'Are you sure?' } %></div>
              </div>
              <div class="row">
                <div class="col-xs-12" id="delete-post"><%= link_to 'Edit this Post', edit_content_path(content) %></div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
